.body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
}

h3 {
  font-family: "Amatic SC", cursive;
  font-size: 3em;
  font-weight: 900;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px auto;
  width: 100%;
  height: 7vh;
  padding: 10px 0 10px 0;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
  color: #fff;
  background: rgb(31 40 24);
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  text-transform: uppercase;
}

#logo img {
  width: 5em;
  padding-right: 2em;
}
.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-pitchtoggle-3d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
}

.mapboxgl-ctrl-pitchtoggle-2d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
}

.mapboxgl-ctrl {
  bottom: 10%;
}

.mapboxgl-popup-close-button {
  font-size: 1.5rem;
  color: #226600;
  font-weight: 800;
  font-family: sans-serif;
}

.mapboxgl-popup-content {
  padding: 40px 10px 15px;
}

.mapboxgl-popup-close-button:focus {
  outline: none;
}

.mapboxgl-popup-content h3 {
  display: block;
  padding: 10px 0px 10px 0px;
  margin: 0;
}

#logo {
  z-index: 10;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}
/* 
Burger Menu */
html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
  top: 45%;
  position: relative;
}

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 46px;
  height: 25px;
  left: 20px;
  top: 31px;
  cursor: pointer;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #000;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-menu-wrap {
  background: #000;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #000000;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/* Searchbar  */
.mapboxgl-ctrl-top-right {
  position: absolute;
  top: 88px;
}
/* tabs */
.tabs {
  position: absolute !important;
  z-index: 1 !important;
  top: 35% !important;
}
.Toggle3d {
  position: absolute;
  z-index: 999;
  top: 56px;
  right: 0px;
  height: 20px;
}
@media only screen and (max-width: 600px) {
  #logo {
    font-size: 0.5em;
  }
}
/* 
IOS switch */
