.body {
  margin: 0;
  padding: 0;
}

/* Globe view */
.globe {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  /* background-image: url("https://maiwar-react-storage04046-devsecond.s3.ap-southeast-2.amazonaws.com/public/mapSourceImg/galaxy_background.jpg"); */
  /* background-image: url("https://maiwar-react-storage04046-devsecond.s3.ap-southeast-2.amazonaws.com/public/mapSourceImg/earth_basic_modified.jpg"); */
  background-color: black;
}
.videoTag {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.mapboxgl-canvas {
  width: 100vw !important;
  height: 100vh !important;
}
#deckgl-wrapper {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute !important;
  z-index: 0 !important;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
}

h3 {
  font-family: "Amatic SC", cursive;
  font-size: 3em;
  font-weight: 900;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

#logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  margin: 0px auto;
  width: 100%;
  height: 7vh;
  padding: 10px 0 10px 0;
  border: none;
  border-radius: 3px;

  font-size: 1em;
  text-align: center;
  color: #fff;
  /* background: rgb(31 40 24); */
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  text-transform: uppercase;
}

#logo img {
  width: 4.4em;
  position: absolute;
  right: 0.6em;
  top: 0.6em;
}
.mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-pitchtoggle-3d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
}

.mapboxgl-ctrl-pitchtoggle-2d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
}

.mapboxgl-ctrl {
  bottom: 10%;
}

.mapboxgl-popup-close-button {
  font-size: 1.5rem;
  color: #226600;
  font-weight: 800;
  font-family: sans-serif;
}

.mapboxgl-popup-content {
  padding: 40px 10px 15px;
}

.mapboxgl-popup-close-button:focus {
  outline: none;
}

.mapboxgl-popup-content h3 {
  display: block;
  padding: 10px 0px 10px 0px;
  margin: 0;
}

#logo {
  z-index: 10;
}

::-webkit-scrollbar {
  margin-top: 15px;
  width: 6px;
  height: 3px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 10px;
}
/* 
Burger Menu */
html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
#map > div {
  position: absolute !important;
  width: 100vw !important;
  height: 100vh !important;
}
#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
  top: 45%;
  position: relative;
}

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 46px;
  height: 20px;
  left: 1em;
  top: 1.5em;
  cursor: pointer;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #000;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-menu-wrap {
  background: rgb(31, 40, 24, 0);
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #000000;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgb(31, 40, 24, 0.3);
}

/* tabs */
.tabs {
  position: absolute !important;
  z-index: 1 !important;
  top: 9vh !important;
}
/* 3d switch */
.Toggle3d {
  position: absolute;
  z-index: 999;
  top: 0em;
  right: 0.5em;
  height: 20px;
  width: 150px;
  margin-right: 1vw;
}
.Text3d {
  position: absolute;
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 6px;
  right: 0.5em;
  height: 20px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  left: 2.6vw !important;
}
.Toggle3d2 {
  position: absolute;
  z-index: 999;
  top: 0em;
  right: 0.5em;
  height: 20px;
  margin-right: 1vw;

  width: 150px;
  right: 7.7vw;
}
.Text3d2 {
  position: absolute;
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 6px;
  right: 0.5em;
  height: 20px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}
.Toggle3d3 {
  position: absolute;
  z-index: 1099;
  top: 0em;
  right: 0.5em;
  height: 20px;
  margin-right: 6vw;
  width: 150px;
  right: 9.7vw;
}
.Text3d3 {
  position: absolute;
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 6px;
  right: 0.5em;
  left: 3vw;
  height: 20px;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}
.mapboxgl-ctrl-top-right {
  position: absolute;
  top: 2em !important;
  right: 7.2em !important;
  z-index: 99999999999999 !important;
}
.mapboxgl-ctrl-geocoder {
  width: 10.8vw !important;
  position: absolute !important;
  right: 3.7vw !important;
  top: 3vh;
  height: 3vh;
  z-index: 9999999999999999 !important;
}
.mapboxgl-ctrl-geocoder--input {
  height: 3vh !important;
  width: 100% !important;
  border: none !important;
}
.bearCtrl {
  position: absolute;
  top: 89vh;
  left: 16vw;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  /* burger menu div */
  .bm-menu-wrap {
    background: rgb(31, 40, 24, 0);
    width: 37% !important;
  }
  .bm-menu {
    background: #000;
    padding: 2.5em 1.5em 0;
    font-size: 14px !important;
  }
  .bm-item-list {
    margin-top: 5px;
  }
  .bm-cross-button {
    display: none;
  }
  /* Position and sizing of clickable cross button */
  .bm-burger-button {
    position: fixed;
    width: 46px;
    height: 25px;
    left: 23px;
    top: 8px;
    cursor: pointer;
  }
  .logoText {
    display: none;
  }

  #logo img {
    display: none;
  }
  .Toggle3d {
    position: fixed;
    z-index: 996;
    top: 24px;
    right: 65px;
    height: 20px;
  }

  .mapboxgl-ctrl-geocoder {
    top: 6vh;
    /* left: 1.5vw !important; */
    /* right: -4vw !important; */
    min-width: 9vw !important;
    width: 40vw !important;
    height: 44px;
    font-size: 13px;
  }
  .html {
    margin: 0 !important;
    overflow: hidden !important;
    height: 100% !important;
  }
  .body {
    margin: 0 !important;
    overflow: auto !important;
    height: 100vh !important;
    width: 100vw !important;

    -webkit-overflow-scrolling: touch !important;
  }
  .bearCtrl {
    left: 15vw !important;
  }
}
/* Surgace Pro */
@media only screen and (max-width: 1400px) {
  .tabs {
    top: 9% !important;
  }
  .bm-burger-button {
    top: 15px;
  }
  .Toggle3d {
    top: 0px;
    right: 0em !important;
    padding-right: 2vw;
  }
  .Text3d {
    margin-left: 1vw;
  }
  .Toggle3d2 {
    top: 0px;
    right: 10.8em !important;

    padding-right: 2vw;
  }
  .Text3d2 {
    margin-left: 1vw;
  }
  .logoText {
    font-family: ui sans-serif;
    font-size: 2rem;
  }
  .slideRight {
    top: 380px !important;

    right: -13px !important;
  }
}
@media only screen and (max-width: 430px) {
  .mapboxgl-ctrl-geocoder {
    top: 5vh;
    right: 3vw;
    min-width: 9vw !important;
    width: 40vw !important;
    height: 32px;
    font-size: 13px;
  }
  .mapboxgl-ctrl-geocoder--input {
    height: 4vh !important;
    width: 100% !important;
    border: none !important;
  }
  /* 3d switch */
  .Toggle3d {
    position: absolute;
    z-index: 999;
    top: 0em;
    right: 0.5em;
    height: 20px;
    width: 20vw;
    margin-right: 1vw;
  }
  .Text3d {
    position: absolute;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    top: 6px;
    right: 0.5em;
    height: 20px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    left: 10vw !important;
  }
  .Toggle3d2 {
    position: absolute;
    z-index: 999;
    top: 0em;
    right: 30vw !important;
    height: 20px;
    margin-right: 1vw;

    width: 20vw;
  }
  .Text3d2 {
    position: absolute;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    top: 6px;
    right: 0.5em;
    left: 9.5vw;
    height: 20px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
  }
  .Toggle3d3 {
    position: absolute;
    z-index: 1099;
    top: 0em;
    right: 0.5em;
    height: 20px;
    margin-right: 6vw;
    width: 10vw;
    right: 60vw;
  }
  .Text3d3 {
    position: absolute;
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    top: 6px;
    right: 0.5em;
    left: 11vw;
    height: 20px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
  }
  .bm-burger-button {
    top: 10px !important;
    left: 5px;
  }
}
