.iconDiv {
  position: fixed;
  left: -59px;
}
.weatherDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  height: 17px;
  width: 130px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}
.imgDiv {
  position: absolute;
  z-index: 2;
  top: -12px;
  right: 38px;
  width: max-content;
  height: max-content;
}
.weatherIcon {
  width: 40px;
  height: 40px;
}
.temperature {
  color: white;
  font: normal 10px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.city {
  color: white;
  font: normal 10px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
