.signOut {
  position: fixed;
  right: 0px;
  z-index: 17;
  width: fit-content;
}
.greeting {
  color: white;
  position: relative;
  right: 10%;
}
amplify-sign-out {
  background: green;
  padding: 5px;
}
amplify-button .button {
  background: black !important;
}
.signoutBtn {
  position: absolute;
  right: 10%;
  height: 20px;
  margin-top: 4px;

  font-size: 8px !important;
  cursor: pointer;
}
